.cards-parrent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.users {
    display: flex;
}

.userImage {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImage img {
    width: 50%;
    height: 50vh;
    border-radius: 50%;
    border: 5px solid black;
}

.userdetail {
    width: 45vw;
    /* width: 50vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.but1 {
    background-color: #3D7793;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    
    font-size: 20px;
}

.detailIcon{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.detailIcon i {
    color: blue;
    font-size: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .users{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .userImage img{
        width: 50%;
        height: 100px;
    }
    .userImage{
        height: 200px;
    }
    .userdetail{
        width: 80vw;
        height: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .userImage img{
        height: 200px;
    }
    .userdetail{
        width: 40vw;
    }
  }
  